body {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 'video controls' 'oscilloscope oscilloscope';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content minmax(100px, auto);
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  body {
    grid-template-areas: 'video' 'controls' 'oscilloscope';
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(100px, auto) minmax(100px, auto);
  }
}

.video-container {
  grid-area: video;
  position: relative;
}

.inputVideo {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.flippedX {
  transform: scaleX(-1);
}

.synth-controls {
  grid-area: controls;
  border: 1px solid black;
}

.oscilloscope {
  grid-area: oscilloscope;
}
